@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

    html{
        scroll-behavior: smooth;
    }
    body, html {
        height: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
      }

    .navbar.navbar-1 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    }
    .navbar.navbar-2 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
    }
    .navbar.navbar-3 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
    }
    .navbar.navbar-4 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
    }
    .navbar.navbar-5 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=f3e5f5');
    }
    .navbar.navbar-6 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
    }
    .navbar.navbar-7 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
    }
    .navbar.navbar-8 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
    }
    .navbar.navbar-9 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
    }

    body{
        background-image: url("assets/white-plain-concrete-textured-background.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Nunito', sans-serif;
    }
    
    /* Mobile View*/

    /* loading screen */
    .loader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F1F2F3;
        z-index: 99999; /* ensure the top item is at the front of all content*/
    }
    .contentWrapper{
        display: none;
    }

    .navbar{
        padding-left: 10px; /* Adjust the value as needed */
        padding-right: 10px;
    }

    /* Experience Section */
    .experienceContainer{
        display:none;
    }
    /* Home Section */
    .homeContent{
        padding-top: 20%;
        padding-left: 10%;
        padding-right: 10%;
        height: 100%;
    }
    .greetings h1{
        font-size: 3em;
    }
    .greetings h2{
        font-weight: 400;
        font-style: italic;
    }
    .greetings{
        margin-bottom: 40%;
    }
    /* about section */

    .aboutContainer{
        padding: 20% 10%; 
    }
    .about-container {
        display: flex; 
        align-items:flex-start;
        flex-direction: column;
    }

    /* Style for the left image */
    .about-image {
        flex: 1; /* Take up 1/3 of the available space */
        padding: 20px; /* Add spacing around the image */
        display: none;
    }

    /* Style for the right content */
    .about-content {
        flex: 2; /* Take up 2/3 of the available space */
        padding: 20px; /* Add spacing around the content */
        align-items: flex-start;
    }
    .about-content h1{
        color: #3cc2fb;
        font-size: 3em;
    }
    .about-content p{
        color: white;
        font-size: .9em;
        font-weight: 200;
    }
    .about-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio and cover the div */
    }

    /* Project Section*/
    .project-container{
        padding: 0;
        height:fit-content;
    }
    .carousel-caption {
        display: block
    }
    .captionTitle{
        font-weight: 200;
        font-size: 1.5em;
    }

    /* Footer */

    .footerCust{
        padding-top: 20px;
    }
    .footerCust h1{
        font-size: 2em;
    }
    /* Project Section*/

    /* Desktop view */
    @media(min-width: 768px) {
        /* loading screen */
        .loader{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F1F2F3;
            z-index: 99999; /* ensure the top item is at the front of all content*/
        }
        .contentWrapper{
            display: none;
        }

        .navbar{
            padding-left: 20%; /* Adjust the value as needed */
            padding-right: 20%;
        }

        /* Home Section */
        .homeContent{
            padding-top: 10%;
            padding-left: 10%;
            padding-right: 10%;
            height: 100%;
        }
        .greetings h1{
            font-size: 5em;
        }
        .greetings h2{
            font-weight: 400;
            font-style: italic;
        }
        .greetings{
            margin-bottom: 20%;
        }
        /* about section */

        .aboutContainer{
            padding: 5% 20%; 
        }
        .about-container {
            display: flex; 
            align-items: flex-start;
            flex-direction: row;
        }

        /* Style for the left image */
        .about-image {
            flex: 1; /* Take up 1/3 of the available space */
            padding: 20px; /* Add spacing around the image */
            display:block;
        }

        /* Style for the right content */
        .about-content {
            flex: 2; /* Take up 2/3 of the available space */
            padding: 20px; /* Add spacing around the content */
            align-items: flex-start;
        }
        .about-content h1{
            color: #3cc2fb;
            font-size: 4em;
        }
        .about-content p{
            color: white;
            font-size: 1.4em;
            font-weight: 200;
        }
        .about-image img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Maintain aspect ratio and cover the div */
        }

        /* Experience */
        .experienceContainer{
            display: block;
            padding-bottom: 5%;
        }
        .experience-container h1{
            font-size: 3em;
            color: #fd8a37;
            text-align: center;
            font-weight:500;
        }
        .timeline{
            position: relative;
            max-width: 1200;
            margin: 100px auto;
        }
        .timelineContainer{
            padding: 10px 40px;
            position: relative;
            width: 50%;
            animation: movedown 1s linear forwards;
            opacity: 0;
            z-index: 1; /* so that the line wont overlap*/
        }

        @keyframes movedown{
            0%{
                opacity: 1;
                transform: translateY(-30px)
            }
            100%{
                opacity: 1;
                transform: translateY(0px)
            }
        }

        /* depending on how many the timelinecontainers you have to manually adjust the delay */
        .timelineContainer:nth-child(1){
            animation-delay: 0s;
        }
        .timelineContainer:nth-child(2){
            animation-delay: 1s;
        }
        .timelineContainer:nth-child(3){
            animation-delay: 2s;
        }
        .timelineContainer:nth-child(4){
            animation-delay: 3s;
        }
        .timelineContainer:nth-child(5){
            animation-delay: 4s;
        }


        .text-box{
            padding: 20px 30px;
            background: #fff;
            position: relative;
            border-radius: 6px;
            font-size: 15px;
        }
        .text-box h3{
            font-weight: 600;
        }
        .text-box small{
            display: inline-block;
            margin: 15px 0;
        }
        .left-container{
            left: 0;
        }
        .right-container{
            left: 50%;
        }
        .timelineContainer img{
            border-radius: 50%;
            position: absolute ;
            width:  40px;
            right:-20px;
            top: 32px;
            z-index: 10;

        }
        .right-container img{
            left: -20px
        }
        .timeline::after{
            content:'';
            position: absolute;
            width: 6px;
            height: 100%;
            background: #fff;
            top: 0;
            left: 50%;
            margin-left:-3px;
            z-index: 0;
            animation: moveline 5s linear forwards;
        }

        @keyframes moveline{
            0%{
                height: 0;
            }
            100%{
                height: 100%;
            }
        }

        .left-container-arrow{
            height: 0;
            width: 0;
            position: absolute;
            top: 28px;
            z-index: 1;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid #fff;
            right: -15px;

        }
        .right-container-arrow{
            height: 0;
            width: 0;
            position: absolute;
            top: 28px;
            z-index: 1;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid #fff;
            left: -15px;
        }

        /* Project Section*/
        .project-container{
            padding: 5%;
            height: 100vh;
        }
        .captionTitle{
            font-weight: 200;
            font-size: 3em;
        }

        /* Footer */
        .footerCust{
            padding-top: 30px;
        }
        .footerCust h1{
            font-size: 2.5em;
        }

        /* Project Section*/
    }